.modal-container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 20px;
    height: 650px;
    width: 800px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.puzzle {
    background-color: white;
    height: 500px;
    width: 500px;
    z-index: 11;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.images-puzzle{
    border: 1px black solid;
    height: 100%;
    width: 100%;
}