.game-section {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-section--beach {
    background: url("../assets/themes/beach-background-3.jpg") center;
}

.game-section--meditation {
    background: url("../assets/themes/meditation-background-3.jpg") center;
}

.game-section--lotus {
    background: url("../assets/themes/lotus-background-3.jpg") center;
}

.game-section--cascade {
    background: url("../assets/themes/cascade-background-3.jpg") center;
}

.game-section__subsection {
    overflow: hidden;
    opacity: 0;
    border: 1px solid red;
}

.game-section__subsection img {
    width: 100%;
}

.game-section__subsection--visible {
    opacity: 1;
}

.game-section__clickable {
    background: none;
    position: absolute;
    border: 1px solid transparent;
    width: 100px;
    height: 100px;
    cursor: pointer;
    backdrop-filter: blur(2px) invert(220%);
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.game-section__clickable:hover {
    opacity: 1;
}

.game-section__video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-section__video-background {
    width: 100%;
}
