/* reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    /* fonts */
    --ff-main: ;
    --ff-title: ;
}
